.navbar-inverse
{
	background-color: #0c3440;
	border-bottom: 2px solid #fdc300;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover
{
	color: white;
	font-weight: bold;
	font-size: 24px;
	
}

@media screen and (max-width: 480px)
{
	.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover 
{
	color: white;
	font-weight: bold;
	padding-left: 10px;
	font-size: 16px;
}
}

.navbar-inverse .nav
{
	padding-left: 550px;
}

@media screen and (max-width: 480px)
{
	.navbar-inverse .nav
{
	padding-left: 100px;
}
}



.navbar-inverse .navbar-nav > li > a
{
	color: white;
	font-weight: bold;
	padding-left: 65px;
}

.navbar-inverse .navbar-nav > li > a:hover
{
	color: #fdc300;
	background-color: black;
}

.slider-image
{
	background-image: url('images/top-bg.jpg');
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

/* social media buttons */
    .fa
		    {
		    	padding:15px 15px;
		    	text-decoration: none;
		    	font-size:16px;
		    	border-radius: 50%;
		    	
		/*if you want the rounded buttons just remove the above style and add the below*/
		    	/*padding: 20px;
			    font-size: 30px;
			    width: 30px;
			    text-align: center;
			    text-decoration: none;
			    border-radius: 50%;*/
		    }
		    .fa:hover
		    {
		    	opacity:0.7;
		    }
		    .fa-facebook
		    {
		    	background-color:#3B5998;
		    	color: white;
		    }
		    .fa-twitter
		    {
		    	background-color: #55ACEE;
		    	color: white;
		    }
		    .fa-google
		    {
		    	 background: #dd4b39;
  				 color: white;
			}
			.fa-linkedin 
			{
              background: #007bb5;
              color: white;
          	}
          

.btn-success
{
	background-color: #fdc300;
}





